div.btn.btn-primary(ng-click='app.openKeyFile()') Load MediChain Key
div.btn.btn-primary(ng-click='app.createNewKey()') Create New MediChain Key
div.alert.alert-success(ng-if='state.pubKeyString != null') {{state.pubKeyMessage}}